@{
    ViewBag.Title = "About Cat Tales";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Here at Cat Tales, cat lovers can gather to talk about their kitties and share information about cat care.</p>
<div class="row">
    <p class="col-xs-6 col-sm-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mollis ligula vitae quam elementum condimentum.
        Aliquam lacinia suscipit purus et malesuada. In finibus risus at odio rutrum ultricies. Praesent in congue
        tortor, et fringilla augue. Donec commodo eu enim eget aliquet. Sed feugiat, ipsum a porta tincidunt, dui dui
        maximus orci, ut ullamcorper sapien neque id est. Nulla auctor dignissim nunc nec lobortis.
    </p>
    <p class="col-xs-6 col-sm-4">
        Vestibulum laoreet sit amet ex sed rutrum. Donec lectus dolor, dictum id massa at, pharetra commodo dolor.
        Mauris tellus nulla, ultricies at nunc nec, cursus laoreet magna. Cras rutrum consequat est, nec varius magna
        ultrices quis. Integer eget ultricies justo, eget sodales ante. Maecenas tincidunt urna ipsum, vitae ultricies
        dolor malesuada nec. Vivamus sit amet faucibus diam. Suspendisse elementum id sapien ac venenatis. Donec ultrices
        orci felis, id mattis nibh fermentum a. Phasellus risus leo, lobortis at augue vel, tincidunt ultrices est.
    </p>
    <p class="col-xs-6 col-sm-4">
        Vivamus mattis libero at porttitor lobortis. Praesent ac tincidunt metus. Fusce vehicula neque leo, sed efficitur
        risus tristique vel. Nam quam odio, congue tempus porta fermentum, malesuada id nulla. Nunc facilisis molestie
        metus, a commodo sem malesuada tincidunt. Quisque tristique pulvinar posuere. Fusce faucibus arcu non lorem
        iaculis, eu rutrum urna pharetra. Nunc rhoncus tristique ligula, eu eleifend mauris efficitur et. Fusce a mi diam.
        Nulla et urna vitae lacus vehicula ultricies. Duis ut felis et libero ultrices rutrum in fringilla leo. Donec
        ullamcorper mattis ipsum, quis imperdiet nisl feugiat non.
    </p>    
</div>
<hr />
<div class="row">
    <p class="col-xs-6 col-sm-4">
        Sed at egestas turpis. Curabitur imperdiet felis eget condimentum ultricies. Phasellus nulla mauris, consectetur
        ultricies tincidunt quis, posuere non odio. Curabitur ut magna egestas magna viverra malesuada ac eu felis. Morbi
        rhoncus magna et tempus placerat. Morbi vel accumsan augue. Proin semper, odio sagittis fringilla consequat,
        felis enim iaculis turpis, ut pretium felis turpis et sapien. Integer non velit vestibulum, tempor ipsum in,
        sodales ex. Curabitur nec justo eget magna pulvinar tincidunt.
    </p>
    <p class="col-xs-6 col-sm-4">
        Nulla magna enim, placerat vitae pretium sed, finibus vitae orci. Nam vitae dolor ultrices, tincidunt ex id,
        posuere diam. Praesent vitae libero ac velit commodo finibus sed vel justo. Donec sit amet augue eget risus
        convallis gravida vitae ut neque. Nullam et felis justo. Ut aliquam eleifend leo at varius. Lorem ipsum dolor
        sit amet, consectetur adipiscing elit. Sed convallis tortor nulla, eu scelerisque nibh sodales ac. Maecenas
        ultricies justo non orci auctor, eget auctor velit scelerisque. Aenean leo lorem, rutrum et accumsan bibendum,
        ultricies a nunc. Curabitur libero urna, faucibus ut nisi in, sodales suscipit lorem. Proin in posuere nibh, ut
        bibendum nulla.
    </p>
</div>

